body {
  font-family: 'Raleway', sans-serif !important;
  .padding-hero {
    padding: 0;
  }
  .header-background {
    background-image: url("../../img/hybrid-banner-bg.jpg");
    //height: 720px;
    width: 100%;
    background-size: cover;
    display: inline-block;

    .navbar-default {
      background: none;
      border: none;
      box-shadow: none;
      .navbar-header{
        margin-top: 10px;
      }
      ul {
        margin: 32px 0 0 20px;
        li {
          a {
            color: #fff;
            padding: 0 0 0 23px;
            font-weight: bold;
          }
          a:hover {
          }
        }
      }
      .navbar-collapse {
        margin-bottom: 100px;
      }
    }
    .header-main-heading {
      h1 {
        color: #ffffff;
        margin: 0;
        text-align: center;
        font-size: 60px;
        font-family: 'Raleway', sans-serif;
        font-weight: bold;

      }
    }
    .icons {
      margin-top: 80px;
      margin-right: 60px;
      text-align: center;
      .header-icons {
        position: relative;
        top: -20px;
      }
      li {
        list-style: none;
        display: inline-block;
        text-align: center;
        margin: 0 0 0 30px;
        p {
          color: #ffffff;
          margin: 10px 0 0 0;
          font-weight: bold;
        }
      }
    }
    button {
      color: #4c667a;
      background: #ffffff;
      width: 18%;
      height: 45px;
      border: none;
      font-weight: bold;
      font-size: 25px;
      margin: 50px 0 70px 0;
    }
  }
  .middle-about-academy {
    background: url("../../img/about-academy-bg.jpg")no-repeat;
    background-size: cover;
    height: auto;
    color: #555555;
    h1 {
      margin: 220px 0 60px 0;
    }
    p {
      line-height: 30px;
      width: 94%;
      font-size: 20px;
    }
    img {
      margin-top: 60px;
    }
  }
  .best-guide {
    background: url("../../img/best-guide-bg.jpg");
    background-size: cover;
    height: auto;
    width: 100%;
    float: left;
    padding: 66px 0;
    ul{
      display: inline-block;
      padding: 0;
      li{
        display: inline-block;
      }
    }
    .best-teacher{

    }
    h4 {
      color: #ffffff;
      display: inline-block;
      position: relative;
      top: 20px;
      left: 10px;
      font-family: 'Raleway', sans-serif;
      letter-spacing: 3px;
      span {
        font-size: 11px;
        margin: 0 0 0 -58px;
        color: #ffffff;
      }
      .leaners {
        margin: 0 0 0 -35px;
      }
      .professional {
        margin: 0;
      }
    }
  }
  .courses {
    background: url(../../img/thrid-bc.png)snow;
    color: #ffffff;
    //padding: 0 0 0 20px;
    img {
      margin: 30px 0 20px 0;
    }
    .featured-icons{
      margin-top: 80px;
      padding-bottom: 58px;
    }
    .courses-heading {
      margin: -2px 0 0 -14px;
      img{
        margin: -4px 10px 0 -14px;
      }
    }
    //margin-top: 25px;
    h1 {
      margin-top: 90px;
      margin-bottom: 60px;
      color: #000000;
      float: right;
      width: 100%;
    }
    h2 {
      font-size: 22px;
      margin-top: 0;
    }
    .mobile-size-heading{
      display: none;
    }
    h3 {
      font-size: 20px;
      margin-top: 80px;
    }
    h5 {
      width: 40%;
      background-color: $label-color;
      position: relative;
      padding: 10px 0 10px 30px;
      margin: 20px 0 0 -34px;
      top: 20px;
      &:after {
        content: "";
        position: absolute;
        bottom: -14px;
        left: 0;
        border-left: 15px solid transparent;
        border-top: 15px solid #0f7563;
        width: 0;
        height: 0;
      }
    }
    h6 {
      font-size: 13px;
      margin-top: 25px;
      margin-bottom: 60px;
      padding-bottom: 10px;
    }
    p {
      font-size: 14px;
    }

    .courese-end {
      color: #404040;
      margin-bottom: 40px;
      span {
        color: #333333;
        font-weight: bold;
      }
    }
    .featured-couses {
      background: url("../../img/featured-courses.png")no-repeat;
      height: auto;
      color: #ffffff;
      img {
        //margin-top: 75px;
      }
      h2 {
        font-size: 25px;
      }
      .featured-icon {
        margin: 0;
        margin-bottom: 20px;
      }
      h2 {
        margin: 0 !important;
      }
    }
    .hybrid-apps {
      background: url("../../img/hybrid-apps-background.png");
      color: #ffffff;
      height: 200px;
    }
    .meteor-apps {
      background: url("../../img/meteor-apps-bg.png");
      height: 200px;
      margin-top: 23px;
      color: #ffffff;
    }
    .wordpress {
      background: url("../../img/wordpress-develop-bg.png");
      height: 200px;
      margin-top: 23px;
      color: #ffffff;
    }
    .destop-apps {
      background: url("../../img/destop-app.png");
      height: 200px;
      color: #ffffff;
      margin-top: 23px;
    }
    .machine-language {
      background: url("../../img/machine-laguage-bg.jpg");
      padding: 0 0 0 20px;
    }
    .mean-stack {
      background: url("../../img/meanstack-bg.jpg");
      padding: 0 0 0 20px;
    }
    .hybrid-app-develpment {
      background: url("../../img/short-hybrid-bg.jpg");
      padding: 0 0 0 20px;
    }
    .moile-size{
      display: none;
    }
  }
  .providing {
    background: url("../../img/PROVIVDIN-BACKGROUNG.png") no-repeat;
    background-size: cover;
    .providing-icon {
      margin: 90px 0 0 0;
      h1 {
        font-size: 40px;
        color: #ffffff;
        span {
          font-weight: bold;
        }
      }
      img{
        margin-bottom: 35px;
      }
      button {
        background: #ffffff;
        height: 35px;
        width: 15%;
        color: #18ab91;
        border: none;
        margin: 25px 0 60px 0;
      }
    }
  }
  .create-courses {
    background: url("../../img/create-course-bg.jpg")no-repeat;
    height: auto;
    background-size: cover;
    h1 {
      margin: 90px 0 50px 0;
    }
    .create-courses-button {
      display: flex;
    }
    .prerequisites{
      float: left;
      background: #fff;
      width: 100%;
      height: 220px;
      padding: 0 20px;
      margin-bottom: 90px;
      .html-css{
        width: 65%;
        float: left;
        h2{
          margin-top: 20px;
          margin-left: 8px;
        }
      }
      .courses-duration{
        float: left;
        width: 35%;
        margin: -90px 0 0 0;
        border-left: 2px solid #acacac;
        height: 175px;
        h2{
          float: none;
          font-size: 18px;
          margin: 10px 0;
        }
        p{
          color: #18ab91;
        }
        button{
          background: #18ab91;
          color: #ffffff;
          width: 69%;
          height: 55px;
          margin-top: 10px;
        }
      }
      h2{
        margin: 0;
        float: left
      }
      ul{
        float: left;
        li{
          background: #ebebeb;
          padding: 5px 34px;
          margin: 20px 0 0 10px;
        }
      }
    }
    body {
      background: #ecf0f1;
      color: #8e44ad;
    }
    .center-on-page {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
    }

    input[type="checkbox"],
    input[type="radio"] {
      position: absolute;
      opacity: 0;
      z-index: -1;
    }
    label {
      position: relative;
      display: inline-block;
      //margin-right: 10px;
      margin-bottom: 10px;
      padding: 10px 30px 0 10px;

      line-height: 36px;
      cursor: pointer;
    }
    label::before {
      content: " ";
      position: absolute;
      top: 6px;
      left: 0;
      display: block;
      width: 24px;
      height: 24px;
      border: 2px solid #8e44ad;
      border-radius: 4px;
      z-index: -1;
    }
    input[type="radio"] + label::before {
      border-radius: 18px;
    }
    /* Checked */
    input[type="checkbox"]:checked + label,
    input[type="radio"]:checked + label {
      padding: 10px 25px;
      color: #fff;
      background: #18ab91;
      margin: 0;
      width: 100%;
    }
    input[type="checkbox"]:checked + label::before,
    input[type="radio"]:checked + label::before {
      top: 0;
      width: 100%;
      height: 100%;
      background: #8e44ad;
    }
    .chekbox-button{
      width: 19%;
      display: inline-block;
      background: #fff;
      margin-bottom: 20px;
      margin-right: 5px;
    }
    /* Transition */
    label,
    label::before {
      -webkit-transition: .25s all ease;
      -o-transition: .25s all ease;
      transition: .25s all ease;
    }

    ul {
      display: inline-flex;
      list-style: none;
      padding: 0 !important;
      li {
        padding: 0 20px 0 0;
        a {
          p {
            background: #fff;
            width: 100%;
            padding: 0 60px;
          }
        }
      }
    }
    button {
      background: #fff;
      border: none;
      padding: 10px 10px;
    }
    .create-courses-second-row {
      ul {
        li {
          button {
            padding: 0 45px !important;
          }
        }
      }
    }
  }

  .icons-background {
    background: url("../../img/icons-backgorund.png");
    padding: 60px 0;
    .icon-img {
      margin-bottom: 20px;
    }
  }
  .recent-event {
    background: url(../../img/slider-background.png)no-repeat;
    background-position:0 -937px;
    width: 100%;
    background-size: cover;
    h1 {
      margin: 90px 0 50px 0;
    }
    .annual-wordpress {
      background: #ffffff;
      padding: 0;
      margin-bottom: 90px;
      img {
        width: 100%;
      }
      h3 {
        padding: 0 20px;
        font-size: 20px;
        font-weight: bold;
      }
      p {
        padding: 0 20px;
      }
      label {
        padding: 0 20px 10px;
        span{
          margin: 0 0 0 5px;
        }
      }
    }
  }
  .form {
    background: rgba(17, 100, 149, 0.7);

    height: 610px;
    width: 100%;
    position: absolute;
    bottom: 60px;
    .form-heading {
      color: #fff;
      padding: 0 0 0 10px;
      margin: 50px 0 20px 0;
    }
    .form-group {
      margin: 0;
    }
    .comment {
      margin: 20px 0 0 0;
    }
    input {
      background: none;
      border-radius: 0;
      padding: 30px 0 30px 40px;
      color: white;
      border: 1px solid;
    }
    textarea{
      background: none;
      width: 100%;
      height: 120px;
      padding: 10px 0 0 10px;
      color: #fff;
      resize: none;
      border: 1px solid;

    }
    ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
      color: white;
    }
    i {
      position: relative;
      top: 40px;
      left: 10px;
      color: #ffffff;
    }
    button {
      width: 100%;
      border-radius: 0;
      background: #ffffff;
      color: #a0c7de;
      font-weight: bold;
      margin-top: 10px;
    }
  }
  .map {
    position: relative;
    height: 774px;
  }
  //.place-card place-card-large{
  //  display: none;
  //}
  .details {
    background: #17a992;
    color: #ffffff;
    img {
      margin: 30px 0 30px;
    }
    p {
      font-family: sans-serif;
      margin-bottom: 50px;
    }
  }
  .footer {
    width: 100%;
    height: auto;
    background: url("../../img/footer-bg.jpg") no-repeat;
    background-size: cover;
    float: left;
    .bg-on-image {
      width: 100%;
      padding: 30px;
      background-color: rgba(15, 54, 76, 0.71);
      float: left;
    }
    h5 {
      color: #fff;
      letter-spacing: 1px;
      font-size: 22px;
      padding-top: 15px;
      font-weight: 600;
    }
    p {
      color: #fff;
      font-size: 14px;
    }
    .appBakerZ {
      padding-top: 10px;
      width: 80%;
    }
    .input-group {
      display: inline-flex;
      input {
        width: 280px;
        height: 28px;
        border-radius: 0 !important;
        font-size: 13px !important;
        color: #333;
        padding-left: 10px;
      }
    }

    button {
      width: 130px;
      height: 28px;
      color: #ffffff;
      font-size: 13px !important;
      background-color: #106a9f !important;
      border-radius: 0 !important;
      margin: 0 0 25px 25px;
      padding: 0 !important;
      &:hover {
        color: #ffffff;
      }

    }
    i {
      width: 45px;
      margin-top: 90px;
      color: #ffffff;
      cursor: pointer;
      font-size: 45px;
    }
    .fa-facebook-official {
      &:hover {
        color: #005eb2;
      }
    }
    .fa-google-plus-square {
      &:hover {
        color: #e62b34;
      }
    }
    .fa-twitter-square {
      &:hover {
        color: #43bdf0;
      }
    }
    .fa-youtube-square {
      &:hover {
        color: #dd3125;
      }
    }
  }
  .footer-end {
    background: #043450;
    color: #ffffff;
    padding: 20px 0;
  }
}