body {
  font-family: 'Raleway', sans-serif !important; }
  body .padding-hero {
    padding: 0; }
  body .header-background {
    background-image: url("../../img/hybrid-banner-bg.jpg");
    width: 100%;
    background-size: cover;
    display: inline-block; }
    body .header-background .navbar-default {
      background: none;
      border: none;
      box-shadow: none; }
      body .header-background .navbar-default .navbar-header {
        margin-top: 10px; }
      body .header-background .navbar-default ul {
        margin: 32px 0 0 20px; }
        body .header-background .navbar-default ul li a {
          color: #fff;
          padding: 0 0 0 23px;
          font-weight: bold; }
      body .header-background .navbar-default .navbar-collapse {
        margin-bottom: 100px; }
    body .header-background .header-main-heading h1 {
      color: #ffffff;
      margin: 0;
      text-align: center;
      font-size: 60px;
      font-family: 'Raleway', sans-serif;
      font-weight: bold; }
    body .header-background .icons {
      margin-top: 80px;
      margin-right: 60px;
      text-align: center; }
      body .header-background .icons .header-icons {
        position: relative;
        top: -20px; }
      body .header-background .icons li {
        list-style: none;
        display: inline-block;
        text-align: center;
        margin: 0 0 0 30px; }
        body .header-background .icons li p {
          color: #ffffff;
          margin: 10px 0 0 0;
          font-weight: bold; }
    body .header-background button {
      color: #4c667a;
      background: #ffffff;
      width: 18%;
      height: 45px;
      border: none;
      font-weight: bold;
      font-size: 25px;
      margin: 50px 0 70px 0; }
  body .middle-about-academy {
    background: url("../../img/about-academy-bg.jpg") no-repeat;
    background-size: cover;
    height: auto;
    color: #555555; }
    body .middle-about-academy h1 {
      margin: 220px 0 60px 0; }
    body .middle-about-academy p {
      line-height: 30px;
      width: 94%;
      font-size: 20px; }
    body .middle-about-academy img {
      margin-top: 60px; }
  body .best-guide {
    background: url("../../img/best-guide-bg.jpg");
    background-size: cover;
    height: auto;
    width: 100%;
    float: left;
    padding: 66px 0; }
    body .best-guide ul {
      display: inline-block;
      padding: 0; }
      body .best-guide ul li {
        display: inline-block; }
    body .best-guide h4 {
      color: #ffffff;
      display: inline-block;
      position: relative;
      top: 20px;
      left: 10px;
      font-family: 'Raleway', sans-serif;
      letter-spacing: 3px; }
      body .best-guide h4 span {
        font-size: 11px;
        margin: 0 0 0 -58px;
        color: #ffffff; }
      body .best-guide h4 .leaners {
        margin: 0 0 0 -35px; }
      body .best-guide h4 .professional {
        margin: 0; }
  body .courses {
    background: url(../../img/thrid-bc.png) snow;
    color: #ffffff; }
    body .courses img {
      margin: 30px 0 20px 0; }
    body .courses .featured-icons {
      margin-top: 80px;
      padding-bottom: 58px; }
    body .courses .courses-heading {
      margin: -2px 0 0 -14px; }
      body .courses .courses-heading img {
        margin: -4px 10px 0 -14px; }
    body .courses h1 {
      margin-top: 90px;
      margin-bottom: 60px;
      color: #000000;
      float: right;
      width: 100%; }
    body .courses h2 {
      font-size: 22px;
      margin-top: 0; }
    body .courses .mobile-size-heading {
      display: none; }
    body .courses h3 {
      font-size: 20px;
      margin-top: 80px; }
    body .courses h5 {
      width: 40%;
      background-color: #18ab91;
      position: relative;
      padding: 10px 0 10px 30px;
      margin: 20px 0 0 -34px;
      top: 20px; }
      body .courses h5:after {
        content: "";
        position: absolute;
        bottom: -14px;
        left: 0;
        border-left: 15px solid transparent;
        border-top: 15px solid #0f7563;
        width: 0;
        height: 0; }
    body .courses h6 {
      font-size: 13px;
      margin-top: 25px;
      margin-bottom: 60px;
      padding-bottom: 10px; }
    body .courses p {
      font-size: 14px; }
    body .courses .courese-end {
      color: #404040;
      margin-bottom: 40px; }
      body .courses .courese-end span {
        color: #333333;
        font-weight: bold; }
    body .courses .featured-couses {
      background: url("../../img/featured-courses.png") no-repeat;
      height: auto;
      color: #ffffff; }
      body .courses .featured-couses h2 {
        font-size: 25px; }
      body .courses .featured-couses .featured-icon {
        margin: 0;
        margin-bottom: 20px; }
      body .courses .featured-couses h2 {
        margin: 0 !important; }
    body .courses .hybrid-apps {
      background: url("../../img/hybrid-apps-background.png");
      color: #ffffff;
      height: 200px; }
    body .courses .meteor-apps {
      background: url("../../img/meteor-apps-bg.png");
      height: 200px;
      margin-top: 23px;
      color: #ffffff; }
    body .courses .wordpress {
      background: url("../../img/wordpress-develop-bg.png");
      height: 200px;
      margin-top: 23px;
      color: #ffffff; }
    body .courses .destop-apps {
      background: url("../../img/destop-app.png");
      height: 200px;
      color: #ffffff;
      margin-top: 23px; }
    body .courses .machine-language {
      background: url("../../img/machine-laguage-bg.jpg");
      padding: 0 0 0 20px; }
    body .courses .mean-stack {
      background: url("../../img/meanstack-bg.jpg");
      padding: 0 0 0 20px; }
    body .courses .hybrid-app-develpment {
      background: url("../../img/short-hybrid-bg.jpg");
      padding: 0 0 0 20px; }
    body .courses .moile-size {
      display: none; }
  body .providing {
    background: url("../../img/PROVIVDIN-BACKGROUNG.png") no-repeat;
    background-size: cover; }
    body .providing .providing-icon {
      margin: 90px 0 0 0; }
      body .providing .providing-icon h1 {
        font-size: 40px;
        color: #ffffff; }
        body .providing .providing-icon h1 span {
          font-weight: bold; }
      body .providing .providing-icon img {
        margin-bottom: 35px; }
      body .providing .providing-icon button {
        background: #ffffff;
        height: 35px;
        width: 15%;
        color: #18ab91;
        border: none;
        margin: 25px 0 60px 0; }
  body .create-courses {
    background: url("../../img/create-course-bg.jpg") no-repeat;
    height: auto;
    background-size: cover;
    /* Checked */
    /* Transition */ }
    body .create-courses h1 {
      margin: 90px 0 50px 0; }
    body .create-courses .create-courses-button {
      display: flex; }
    body .create-courses .prerequisites {
      float: left;
      background: #fff;
      width: 100%;
      height: 220px;
      padding: 0 20px;
      margin-bottom: 90px; }
      body .create-courses .prerequisites .html-css {
        width: 65%;
        float: left; }
        body .create-courses .prerequisites .html-css h2 {
          margin-top: 20px;
          margin-left: 8px; }
      body .create-courses .prerequisites .courses-duration {
        float: left;
        width: 35%;
        margin: -90px 0 0 0;
        border-left: 2px solid #acacac;
        height: 175px; }
        body .create-courses .prerequisites .courses-duration h2 {
          float: none;
          font-size: 18px;
          margin: 10px 0; }
        body .create-courses .prerequisites .courses-duration p {
          color: #18ab91; }
        body .create-courses .prerequisites .courses-duration button {
          background: #18ab91;
          color: #ffffff;
          width: 69%;
          height: 55px;
          margin-top: 10px; }
      body .create-courses .prerequisites h2 {
        margin: 0;
        float: left; }
      body .create-courses .prerequisites ul {
        float: left; }
        body .create-courses .prerequisites ul li {
          background: #ebebeb;
          padding: 5px 34px;
          margin: 20px 0 0 10px; }
    body .create-courses body {
      background: #ecf0f1;
      color: #8e44ad; }
    body .create-courses .center-on-page {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); }
    body .create-courses input[type="checkbox"],
    body .create-courses input[type="radio"] {
      position: absolute;
      opacity: 0;
      z-index: -1; }
    body .create-courses label {
      position: relative;
      display: inline-block;
      margin-bottom: 10px;
      padding: 10px 30px 0 10px;
      line-height: 36px;
      cursor: pointer; }
    body .create-courses label::before {
      content: " ";
      position: absolute;
      top: 6px;
      left: 0;
      display: block;
      width: 24px;
      height: 24px;
      border: 2px solid #8e44ad;
      border-radius: 4px;
      z-index: -1; }
    body .create-courses input[type="radio"] + label::before {
      border-radius: 18px; }
    body .create-courses input[type="checkbox"]:checked + label,
    body .create-courses input[type="radio"]:checked + label {
      padding: 10px 25px;
      color: #fff;
      background: #18ab91;
      margin: 0;
      width: 100%; }
    body .create-courses input[type="checkbox"]:checked + label::before,
    body .create-courses input[type="radio"]:checked + label::before {
      top: 0;
      width: 100%;
      height: 100%;
      background: #8e44ad; }
    body .create-courses .chekbox-button {
      width: 19%;
      display: inline-block;
      background: #fff;
      margin-bottom: 20px;
      margin-right: 5px; }
    body .create-courses label,
    body .create-courses label::before {
      -webkit-transition: .25s all ease;
      -o-transition: .25s all ease;
      transition: .25s all ease; }
    body .create-courses ul {
      display: inline-flex;
      list-style: none;
      padding: 0 !important; }
      body .create-courses ul li {
        padding: 0 20px 0 0; }
        body .create-courses ul li a p {
          background: #fff;
          width: 100%;
          padding: 0 60px; }
    body .create-courses button {
      background: #fff;
      border: none;
      padding: 10px 10px; }
    body .create-courses .create-courses-second-row ul li button {
      padding: 0 45px !important; }
  body .icons-background {
    background: url("../../img/icons-backgorund.png");
    padding: 60px 0; }
    body .icons-background .icon-img {
      margin-bottom: 20px; }
  body .recent-event {
    background: url(../../img/slider-background.png) no-repeat;
    background-position: 0 -937px;
    width: 100%;
    background-size: cover; }
    body .recent-event h1 {
      margin: 90px 0 50px 0; }
    body .recent-event .annual-wordpress {
      background: #ffffff;
      padding: 0;
      margin-bottom: 90px; }
      body .recent-event .annual-wordpress img {
        width: 100%; }
      body .recent-event .annual-wordpress h3 {
        padding: 0 20px;
        font-size: 20px;
        font-weight: bold; }
      body .recent-event .annual-wordpress p {
        padding: 0 20px; }
      body .recent-event .annual-wordpress label {
        padding: 0 20px 10px; }
        body .recent-event .annual-wordpress label span {
          margin: 0 0 0 5px; }
  body .form {
    background: rgba(17, 100, 149, 0.7);
    height: 610px;
    width: 100%;
    position: absolute;
    bottom: 60px; }
    body .form .form-heading {
      color: #fff;
      padding: 0 0 0 10px;
      margin: 50px 0 20px 0; }
    body .form .form-group {
      margin: 0; }
    body .form .comment {
      margin: 20px 0 0 0; }
    body .form input {
      background: none;
      border-radius: 0;
      padding: 30px 0 30px 40px;
      color: white;
      border: 1px solid; }
    body .form textarea {
      background: none;
      width: 100%;
      height: 120px;
      padding: 10px 0 0 10px;
      color: #fff;
      resize: none;
      border: 1px solid; }
    body .form ::-webkit-input-placeholder {
      /* Chrome/Opera/Safari */
      color: white; }
    body .form i {
      position: relative;
      top: 40px;
      left: 10px;
      color: #ffffff; }
    body .form button {
      width: 100%;
      border-radius: 0;
      background: #ffffff;
      color: #a0c7de;
      font-weight: bold;
      margin-top: 10px; }
  body .map {
    position: relative;
    height: 774px; }
  body .details {
    background: #17a992;
    color: #ffffff; }
    body .details img {
      margin: 30px 0 30px; }
    body .details p {
      font-family: sans-serif;
      margin-bottom: 50px; }
  body .footer {
    width: 100%;
    height: auto;
    background: url("../../img/footer-bg.jpg") no-repeat;
    background-size: cover;
    float: left; }
    body .footer .bg-on-image {
      width: 100%;
      padding: 30px;
      background-color: rgba(15, 54, 76, 0.71);
      float: left; }
    body .footer h5 {
      color: #fff;
      letter-spacing: 1px;
      font-size: 22px;
      padding-top: 15px;
      font-weight: 600; }
    body .footer p {
      color: #fff;
      font-size: 14px; }
    body .footer .appBakerZ {
      padding-top: 10px;
      width: 80%; }
    body .footer .input-group {
      display: inline-flex; }
      body .footer .input-group input {
        width: 280px;
        height: 28px;
        border-radius: 0 !important;
        font-size: 13px !important;
        color: #333;
        padding-left: 10px; }
    body .footer button {
      width: 130px;
      height: 28px;
      color: #ffffff;
      font-size: 13px !important;
      background-color: #106a9f !important;
      border-radius: 0 !important;
      margin: 0 0 25px 25px;
      padding: 0 !important; }
      body .footer button:hover {
        color: #ffffff; }
    body .footer i {
      width: 45px;
      margin-top: 90px;
      color: #ffffff;
      cursor: pointer;
      font-size: 45px; }
    body .footer .fa-facebook-official:hover {
      color: #005eb2; }
    body .footer .fa-google-plus-square:hover {
      color: #e62b34; }
    body .footer .fa-twitter-square:hover {
      color: #43bdf0; }
    body .footer .fa-youtube-square:hover {
      color: #dd3125; }
  body .footer-end {
    background: #043450;
    color: #ffffff;
    padding: 20px 0; }

@media (min-width: 320px) and (max-width: 767px) {
  .padding-hero {
    padding: 0; }

  .header-background .navbar-toggle {
    background: none;
    margin: 25px 0; }
    .header-background .navbar-toggle:hover {
      background-color: transparent !important; }
  .header-background .navbar-header {
    background: #000000; }
  .header-background .header-button {
    color: #4c667a;
    background: #ffffff;
    width: 63%;
    height: 50px;
    border: none;
    font-weight: bold;
    font-size: 18px;
    margin: 45px 0; }
  .header-background .header-main-heading h1 {
    font-size: 32px !important; }
  .header-background .icons {
    display: none; }

  .middle-about-academy h1 {
    margin: 39px 0 30px 0 !important;
    font-size: 20px;
    text-align: center; }
  .middle-about-academy p {
    line-height: 30px;
    width: 100% !important;
    font-size: 13px !important;
    text-align: center; }
  .middle-about-academy img {
    text-align: center;
    margin-top: 30px !important;
    width: 100%; }

  .providing {
    float: left; }
    .providing .providing-icon h1 {
      font-size: 24px !important; }
    .providing .providing-icon button {
      width: 55% !important; }

  .best-guide {
    padding-bottom: 20px !important; }
    .best-guide ul {
      margin-bottom: 30px;
      width: 100%; }
      .best-guide ul img {
        margin: 0; }
      .best-guide ul h4 {
        margin-bottom: 40px;
        letter-spacing: 0; }

  .courses {
    float: left; }
    .courses .d-none {
      display: none; }
    .courses .machine-language {
      padding: 0 13px !important;
      display: table-cell; }
      .courses .machine-language .mobile-size-heading {
        display: table-caption; }
      .courses .machine-language .display-none {
        display: none; }
    .courses .hybrid-app-develpment {
      padding: 0 13px !important; }
    .courses .featured-couses {
      position: relative;
      background-position: 0 !important; }
      .courses .featured-couses .courses-heading {
        width: 62% !important;
        position: absolute; }
        .courses .featured-couses .courses-heading .featured-all-icons {
          padding: 10px 0; }
    .courses .courese-end span {
      float: right;
      margin-right: 35px; }

  h2 {
    font-size: 14px !important;
    font-weight: bold; }

  h3 {
    display: none; }

  h4 {
    font-size: 13px; }

  h5 {
    width: 100% !important;
    font-size: 10px !important;
    padding: 3px 15px !important;
    margin: 10px 0 0 -18px !important;
    top: 5px !important;
    display: inline; }
    h5:after {
      bottom: -10px !important;
      border-top: 10px solid #0f7563 !important; }

  h6 {
    font-size: 10px !important;
    font-family: monospace !important;
    margin-bottom: 10px !important;
    padding-bottom: 10px !important; }

  .hiden img {
    display: none; }

  .marg-hero h2 {
    margin: 0; }

  .meteor-apps {
    height: auto !important;
    margin-top: 10px !important;
    padding: 30px 0; }

  .wordpress {
    height: auto !important;
    margin-top: 10px !important;
    padding: 30px 0; }

  .destop-apps {
    height: auto !important;
    margin-top: 10px !important;
    padding: 30px 0; }

  .hybrid-apps {
    height: auto !important;
    padding: 20px 0;
    margin-top: 10px; }

  .featured-couses {
    background-position: 0 230px !important;
    background-size: cover !important; }
    .featured-couses .courses-heading {
      margin: 10px 0 0 -14px !important;
      top: 10px !important;
      width: 52% !important; }
    .featured-couses .featured-icons {
      padding-top: 70px;
      margin: 0; }

  .courses-heading img {
    width: 10%; }

  .create-courses label {
    padding: 10px 12px 0 10px; }
  .create-courses .chekbox-button {
    width: 100% !important;
    font-size: 10px !important; }
  .create-courses .prerequisites h2 {
    width: 100%; }
  .create-courses .prerequisites .html-css {
    width: 100%; }
  .create-courses .prerequisites ul li {
    padding: 5px 10px !important;
    margin: 0 5px !important; }

  body .courses h1 {
    float: none; }

  body .courses .mean-stack {
    padding: 0 13px; } }

/*# sourceMappingURL=main.css.map */
